@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #1e523c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Acme', sans-serif;
  min-height: 100vh;
  text-align: center;
}

button {
  background-color: transparent;
  padding: 15px;
  margin: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
 .flex{
   display: flex;
   align-items: center;
   justify-content: center;  
 }
.timer-container h2 {
  margin: 0;
}
 .timer-container {
   margin: 20px;
 }
 .buttonsSpan span {
   font-size: 40px;
   margin: 0 10px;
   width: 30px;
 }
 .clock-container {
   border: 2px solid rgb(255, 255, 255);
   border-radius: 10px;
   display: inline-block;
   padding: 10px 80px;
   margin-top: 20px;
   width: 400px;
 }
 .clock-container h1 {
   margin: 0;
 }
 .clock-container span {
   font-size: 70px;
 }